@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}


:root{
--white: hsl(0, 100%, 100%);
 --Purple-100:hsl(275, 100%, 97%);
 --Purple-600:hsl(292, 16%, 49%);
--Purple-950:hsl(292, 42%, 14%);
}
html{
font-size: 62.5%;

}
body{
 
 width: 100%;
 overflow-x: hidden;
background: var(--Purple-100) url(assets/images/background-pattern-mobile.svg) ;
 background-repeat: no-repeat;
 background-size: auto auto;
 background-origin: border-box;
 background-color: var(--Purple-100);
 font-family: "Work Sans",sans-serif;
 min-height: 100vh;
background-position: top left;
 background-attachment:scroll;
}
.faq-container{
   font-family: "Work Sans",sans-serif;
  background-color: var(--white);
  
  margin:13rem auto 0  auto;

  width: 85%;
  border-radius: 10px;
  padding: 19px 15px;
  max-width: 500px;
}

.header{
  display: flex;
  
  margin: 18px 0;
  padding: 0;
  font-weight: 700;
  font-size: 2.4rem;
  gap:3px;
  align-items: center;
width:20% ;

}
.header h1{
  font-family: "Work Sans",sans-serif;
  margin-left:10px;
}
ul li{
list-style: none;
}
ul li:not(ul li:last-of-type){
  
  border-bottom: 1px solid var(--Purple-100);
}
.answer{
display: none;  
  font-weight: 400;
  line-height: 1.6rem;
  margin-bottom: 1.9rem;
font-size: 1.5rem;
  color:var(--Purple-600);

}

.question-btn img{
  display: block;
}
.display{
  display: block;

}
.question-btn{
  margin: 1.9rem 0;
width: 100%;
font-weight: 600;
line-height: 1.9rem;
text-align: left;
font-size: 1.5rem;
display: flex;
align-items: center;
justify-content: space-between;
background-color: var(--white);
border: none;
cursor: pointer;
}
.question-btn:hover{
  color: var(--Purple-600);
  
}

.question-btn:focus{
  border:none;
  outline: 1px solid var(--Purple-600);
}
.btn-text{
  width: 90%;
width: 90%;
  
padding-right: 5rem;
}

@media screen and (min-width:23.75rem){
body{

background: var(--Purple-100) url(assets/images/background-pattern-mobile.svg);
 background-repeat: no-repeat;
 background-size: 50rem auto;


}

.faq-container{
  margin-top: 19rem;
 
}


}
@media screen and (min-width:31.875rem) {
  
body{

background: var(--Purple-100) url(assets/images/background-pattern-desktop.svg) ;
 background-repeat: no-repeat;
 background-size: auto auto;
}

.faq-container{
 margin-top: 19rem;
  
  
}





}
@media screen and (min-width:118.75rem){

body{

background: var(--Purple-100) url(assets/images/background-pattern-desktop.svg);
 background-repeat: no-repeat;
 background-size: 100% auto;



}
.faq-container{
 margin-top: 18%;
  margin-bottom: 4rem;
  
}






}